
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AutomatedQuestionPaper.Models.Admin

<br />

@if (ViewBag.SessionErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.SessionErrorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <h2>Hello @Model.username</h2>


    <div>
        <h3>Management Panel</h3>
        
        <a class="btn btn-dark m-1 btn-link" href="/Staff">Staff Management</a>
        <a class="btn btn-primary m-1 " href="#1">Course Teacher allocation </a>
        <a class="btn btn-secondary m-1" href="#2">Department management</a>
        <a class="btn btn-info m-1" href="#2">Course</a>


    </div>
    




}