@model IEnumerable<AutomatedQuestionPaper.Models.Teacher>

@{
    ViewBag.Title = "Staff details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid();
    grid.Bind(Model);

}

<br/>
<h4> Staff details </h4>
<a href=@Url.Action("TeacherEdit", "Staff") class="btn btn-secondary float-right ">Edit data</a>
<br/>
<br/>

@grid.GetHtml(tableStyle: "table table-bordered table-striped ",
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: grid.Columns(
        grid.Column("Id", " Id"),
        grid.Column("name", "Name"),
        grid.Column("surname", "Surname"),
        grid.Column("address", "Address"),
        grid.Column("phone", "Phone Number"),
        grid.Column("email", "Email"),
        grid.Column("password", "Password"),
        grid.Column("secret_question", "Secret question"),
        grid.Column("answer", "Answer")
        ))
